<div class="content-container">
	<div class="profile-title">
		<h2>{{'all_clubs' | translate}}</h2>
	</div>
	<span class="help-message notice w-70 justify-center">{{'club_list_help' | translate}}</span>
	<div class="tbl club-table-size">
		<div class="table-header">
			<form id="searchfilters" class="searchfilters">
				<div class="table-titles flex-space-around">
					<div>
						<label>{{'name' | translate}}</label>
						<input class="form-control" type="text" maxlength="100" ng-model="filters.name"/>
					</div>
					<div>
						<label>{{'location' | translate}}</label>
						<input class="form-control" type="text" maxlength="100" ng-model="filters.location"/>
					</div>
					<div>
						<a ng-click="filterClubs()">
							<button class="btn btn-primary" type="submit">{{'filter' | translate}}</button>
						</a>
					</div>
				</div>
			</form>
		</div>
		<div ng-repeat="club in clubs" class="custom-row flex-space-around">
			<div class="home-header">{{club.name}}</div>
			<div class="home-header">{{club.location}}</div>
			<div>
				<a ng-click="goToClub(club.clubid)"> <button type="button" class="btn btn-primary view-club">{{'view_club' | translate}}</button></a>
			</div>
		</div>
	</div>
	<div class="table-navigator w-100 justify-center">
		<div ng-if="clubs.length > 0" class="flex">
			<div ng-hide="pageNum == 1">
				<a ng-click="getFirstPage()"><button type="button" class="btn btn-secondary">{{'first' | translate}}</button></a>
				<a ng-click="getPrevPage()"><button type="button" class="btn btn-secondary">{{'back' | translate}}</button></a>
			</div>
			<span>{{'showing_items' | translate}} {{initialPageIndex}}-{{initialPageIndex + clubs.length - 1}} {{'of' | translate }} {{clubCount}}</span>
			<div ng-hide="pageNum == lastPageNum">
				<a ng-click="getNextPage()"><button type="button" class="btn btn-secondary">{{'next' | translate}}</button></a>
				<a ng-click="getLastPage()"><button type="button" class="btn btn-secondary">{{'last' | translate }}</button></a>
			</div>
		</div>
		<div ng-if="clubs.length == 0" class="notice">
			{{'no_results' | translate}}
		</div>
	</div>
	<div ng-show="isAdmin">
		<h2>{{'create_club' | translate}}</h2>
		<div class="form-container">
			<form ng-submit = createClubSubmit() name="createClubForm" method="post" novalidate>
				<div class="form-field">
                    <input class="form-control" type="text" placeholder="{{'name' | translate}}" maxlength="100" name="name" ng-model="createdClub.name" ng-pattern="/^[a-zA-Z0-9 ]+$/" required/>
                    <div ng-show="(createClubForm.name.$touched ||  createClubForm.$submitted)">
                        <span ng-show="createClubForm.name.$error.required" class="form-error">{{'form_required' | translate}}</span>
                        <span ng-show="createClubForm.name.$error.pattern" class="form-error">{{'name_pattern_error' | translate}}</span>
                    </div>
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" placeholder="{{'event_location' | translate}}" maxlength="100" name="location" ng-model="createdClub.location" required/>
                    <div ng-show="(createClubForm.location.$touched ||  createClubForm.$submitted)">
                        <span ng-show="createClubForm.location.$error.required" class="form-error">{{'form_required' | translate}}</span>
                    </div>
                </div>
				<div class="justify-center">
					<button type="submit" class="btn btn-primary submit-btn btn-success">{{'create' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
