<div class="main-container">
	<div class="content-container">
		<div class="profile-title">
			<h2>{{club.name}}</h2>
		</div>
		<div class="flex-row w-90">
			<div class="club-detail-container flex-1">
				<div class="club-description">
					<div class="club-item club-pitches-list">
						<div class="flex">
							<div class="h4 pitch-info-label">
								{{'club_location' | translate}}
								<span class="h4"> {{club.location}}</span>
							</div>
						</div>
						<h4>{{'hosted' | translate}} {{club.pastEventsCount}} {{'event_s' | translate}}</h4>
					</div>
				</div>
				<div class="club-item club-pitches-list">
					<span class="h4 pitch-info-label">{{'pitches' | translate}}</span>
					<div ng-if="pitches.length == 0">
						<span>{{'no_pitches' | translate}}</span>
					</div>
					<div ng-if="pitches.length > 0">
						<ul class="padding-0">
							<div ng-repeat="pitch in pitches">
								<div class="custom-row flex-space-around club-pitches-list">
									<div>{{pitch.name}}</div>
									<div>{{pitch.sport | translate}}</div>
									<a ng-click="goToPitch(pitch.pitchid)"> <button type="button" class="btn btn-primary view-club">{{'view_pitch' | translate}}</button></a>
									<div ng-if="isAdmin">
										<a ng-click="deletePitch(club.clubid, pitch.pitchid)"> <button type="button" class="btn btn-primary btn-danger">{{'delete_pitch' | translate}}</button></a>
									</div>
								</div>
							</div>
						</ul>
						<div ng-hide="pageNum == 1">
							<a ng-click="getFirstPage()">
								<button type="button" class="btn btn-secondary">
									{{'first' | translate}}
								</button>
							</a>
							<a ng-click="getPrevPage()">
								<button type="button" class="btn btn-secondary">
									{{'back' | translate}}
								</button>
							</a>
						</div>
						<div ng-hide="pageNum == lastPageNum">
							<a ng-click="getNextPage()">
								<button type="button" class="btn btn-secondary">{{'next' | translate}}</button>
							</a>
							<a ng-click="getLastPage()">
								<button type="button" class="btn btn-secondary">{{'last' | translate}}</button>
							</a>
						</div>
					</div>
				</div>
				<div ng-show="isAdmin" class="status no-margin">
					<div class="pitch-form-container">
						<h3>{{'create_pitch' | translate}}</h3>
						<form ng-submit = createPitchSubmit(picture) name="createPitchForm" method="post" novalidate>
							<div class="form-field">
								<input class="form-control" type="text" placeholder="{{'event_name' | translate}}" maxlength="100" name="name" ng-model="createdPitch.name" ng-pattern="/^[a-zA-Z0-9 ]+$/" required/>
								<div ng-show="(createPitchForm.name.$touched ||  createPitchForm.$submitted)">
                                    <span ng-show="createPitchForm.name.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                    <span ng-show="createPitchForm.name.$error.pattern" class="form-error">{{'name_pattern_error' | translate}}</span>
                                </div>
							</div>
							<div class="form-field">
								<label>{{'sport' | translate}}</label>
								<select class="form-control" ng-model="createdPitch.sport" ng-options="sport | translate for sport in sports" name="sport" required>
									<option></option>
								</select>
								<div ng-show="(createPitchForm.sport.$touched ||  createPitchForm.$submitted)">
                                    <span ng-show="createPitchForm.sport.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                </div>
							</div>
							<div class="pitch-creation-image-container">
								<input class="pitch-creation-image-input" type="file" ngf-select="" ng-model="picture" name="picture" ngf-accept="'image/*'" ngf-validate="{size: {max: '20MB'}, pattern: '.jpg,.png,image/*'}"/>
								<div ng-if="pictureProcessingError">
                                    <span class="form-error">
                                        {{'picture_processing_error' | translate}}
                                    </span>
                                </div>
                				<img class="pitch-creation-image" ngf-src="picture">
							</div>
							<div class="justify-center">
								<button ng-disabled="!createPitchForm.$valid" type="submit" class="btn btn-primary submit-btn btn-success">{{'create' | translate}}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="tbl profile-cont club-comments flex-1">
				<div ng-show="hasRelationship" class="w-100">
					<form ng-submit = commentSubmit() name="commentForm" method="post" novalidate class="comments_form">
						<input class="form-control" type="text" placeholder="{{'comment' | translate}}" maxlength="500" name="comment" ng-model="commentText.comment" required/>
						<div ng-show="(commentForm.comment.$touched ||  commentForm.$submitted)">
                            <span ng-show="commentForm.comment.$error.required" class="form-error">{{'form_required' | translate}}</span>
                        </div>
						<div class="justify-center mb-10">
							<button type="submit" class="btn btn-primary submit-btn btn-primary">{{'comment_action' | translate}}</button>
						</div>
					</form>
				</div>
				<div ng-repeat="cmt in comments" class="comment-container date-separator w-100">
					<div class="flex-row mv-10">
						<img class="comment-image" src="images/profile_default.png" width="40" height="40"/>
						<a class="link-text ml-10" ng-click="goToProfile(cmt.commenter.userid)">{{cmt.commenter.firstname}} {{cmt.commenter.lastname}}</a>
					</div>
					<span class="comment-text ml-10">{{cmt.comment}}</span>
					<div class="comment-date ml-10 mt-10">{{cmt.createdAt | date:'dd/MM/yyyy HH:mm'}}</div>
				</div>
				<div class="table-navigator">
					<div ng-if="comments.length > 0">
						<div ng-hide="commentsPageNum == 1">
							<a ng-click="getCommentsFirstPage()">
								<button type="button" class="btn btn-secondary">
									{{'first' | translate}}
								</button>
							</a>
							<a ng-click="getCommentsPrevPage()">
								<button type="button" class="btn btn-secondary">
									{{'back' | translate}}
								</button>
							</a>
						</div>
						<span class="flex">{{'showing_items' | translate}} {{commentsPageInitIndex}}-{{commentsPageInitIndex + comments.length - 1}} {{'of' | translate}} {{commentCount}}</span>
						<div ng-hide="commentsPageNum == commentsLastPageNum">
							<a ng-click="getCommentsNextPage()">
								<button type="button" class="btn btn-secondary">
									{{'next' | translate}}
								</button>
							</a>
							<a ng-click="getCommentsLastPage()">
								<button type="button" class="btn btn-secondary">
									{{'last' | translate}}
								</button>
							</a>
						</div>
					</div>
					<div ng-if="comments.length == 0" class="notice">
						{{'no_comments' | translate}}
					</div>
				</div>
			</div>
		</div>
		<div ng-if="isAdmin" class="club-buttons">
			<a ng-click="newTournament(club.clubid)">
				<button type="button" class="btn btn-primary join-button">
					{{'create_tournament' | translate}}
				</button>
			</a>
			<a ng-click="deleteClub(club.clubid)">
				<button type="button" class="btn btn-danger join-button">
					{{'delete_club' | translate}}
				</button>
			</a>
		</div>
	</div>
</div>
