<div class="main-container">
	<div class="content-container">
		<div class="profile-title">
			<h2>{{event.name}}</h2>
		</div>
		<div class="event-container">
			<div class="status" ng-if="!eventHasEnded">
				<div ng-if="event.inscriptionCount < event.maxParticipants">
					<h3>{{'status' | translate}} {{'uncompleted' | translate}}</h3>
				</div>
				<div ng-if="event.inscriptionCount >= event.maxParticipants">
					<h3>{{'status' | translate}} {{'completed' | translate}}</h3>
				</div>
				<div class="progress">
					<!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:${participant_count * 100 / event.maxParticipants}%; background-color: ${participant_count == event.maxParticipants ? "green" : "dodgerblue"};" aria-valuenow="${participant_count}" aria-valuemin="0" aria-valuemax="${event.maxParticipants}"></div>-->
				</div>
				<h4 class="progress-bar-completion">{{event.inscriptionCount}}/{{event.maxParticipants}}</h4>
			</div>
			
			<div>
				<div class="margin-right flex-row">
					<div class="flex-05">
						<div class="double-box">
								<div class="event-item-box">
									<span class="event-info-label">{{'date' | translate}}</span>
									<span class="just-row">
										<span>{{event.startsAt | date:'EEEE d, MMM yyyy HH:mm' : 'GMT-3'}}</span>
											<span>-</span>
										<span>{{event.endsAt | date:'HH:mm' : 'GMT-3'}}</span>
									</span>
								</div>
								<div class="event-item-box">
									<span class="event-info-label">{{'vacancies' | translate}}</span>
									<span>{{event.maxParticipants - event.inscriptionCount}}</span>
								</div>
						</div>
						<div class="event-item-box">
							<span class="event-info-label">{{'end_date' | translate}}</span>
							<span>{{event.inscriptionEnd | date:'EEEE d, MMM yyyy HH:mm' : 'GMT-3'}}</span>
						</div>
					</div>
					<div class="flex-1">
						<div class="event-item-box">
							<span class="event-info-label">{{'organizer' | translate}} </span>
							<a ng-click="goToProfile(event.owner.userid)" class="link-text">{{event.owner.firstname}} {{event.owner.lastname}}</a>
						</div>
						<div class="event-item-box">
							<span class="event-info-label">{{'event_description' | translate}}</span>
							<span>{{event.description}}</span>
						</div>
						<div class="event-item-box">
							<span class="event-info-label">{{'sport' | translate}}</span>
							<span>{{event.pitch.sport | translate}}</span>
						</div>
						<div class="event-item-box">
							<span class="event-info-label">{{'club' | translate}} </span>
							<a class="link-text" ng-click="goToClub(event.pitch.club.clubid)" >{{event.pitch.club.name}}</a>
							<span> - </span><a class="link-text" ng-click="goToPitch(event.pitch.pitchid)" >{{event.pitch.name}}</a>
						</div>
					</div>
					<div class="event-item-box flex-2">
						<span class="event-info-label">{{'participants' | translate}}</span>
						<ul>
							<div ng-repeat="i in inscriptions">
								<a class="link-text" ng-click="goToProfile(i.inscriptedUser.userid)">
									<span>{{i.inscriptedUser.firstname}} {{i.inscriptedUser.lastname}}</span>
								</a>
								<a type="submit" class="kick-user-btn" ng-if="!inscriptionHasEnded && isOwner && i.inscriptedUser.userid != event.owner.userid" ng-click="kickUser(event.pitch.pitchid, event.eventid, i.inscriptedUser.userid)">{{'kick' | translate}}</a>
							</div>
						</ul>
					</div>
				</div>
			</div>
			
			<div ng-if="eventHasEnded && event.participant">
				<div class="event-points">
					<h4 class="pitch-info-label">{{'event_points' | translate}}</h4>
					<h5 class="pitch-info-label vote-balance">{{event.voteBalance}}</h5>
				</div>
				<div class="voting-buttons" ng-if="isLoggedIn && loggedUser.userid != event.owner.userid">
					<div ng-if="event.userVote > 0">
						<a ng-click="downvote(event.pitch.pitchid, event.eventid)">
							<button type="submit" class="btn btn-danger join-button vote-balance mb-10">{{'downvote' | translate}}</button>
						</a>
						<div>
							<button type="submit" class="btn btn-success join-button vote-balance mb-10" ng-disabled="true">{{'upvoted' | translate}}</button>
						</div>
					</div>
					<div ng-if="event.userVote < 0">
						<div>
							<button type="submit" class="btn btn-danger join-button vote-balance mb-10" ng-disabled="true">{{'downvoted' | translate}}</button>
						</div>
						<a ng-click="upvote(event.pitch.pitchid, event.eventid)">
							<button type="submit" class="btn btn-success join-button vote-balance mb-10">{{'upvote' | translate}}</button>
						</a>
					</div>
					<div ng-if="event.userVote == 0">
						<a ng-click="downvote(event.pitch.pitchid, event.eventid)">
							<button type="submit" class="btn btn-danger join-button vote-balance mb-10">{{'downvote' | translate}}</button>
						</a>
						<a ng-click="upvote(event.pitch.pitchid, event.eventid)">
							<button type="submit" class="btn btn-success join-button vote-balance mb-10">{{'upvote' | translate}}</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="userBusyError">
			<span class="form-error notice">
				{{'user_busy_error' | translate}}
			</span>
		</div>
		<div ng-if="alreadyJoinedError">
			<span class="form-error notice">
				{{'already_joined_error' | translate}}
			</span>
		</div>
		<div ng-if="eventFullError">
			<span class="form-error notice">
				{{'event_full_error' | translate}}
			</span>
		</div>
		<div ng-if="inscriptionClosedError">
			<span class="form-error notice">
				{{'inscription_closed_error' | translate}}
			</span>
		</div>
		<div ng-if="eventStartedError">
			<span class="form-error notice">
				{{'event_started_error' | translate}}
			</span>
		</div>
		<div class="club-buttons" ng-if="!inscriptionHasEnded">
			<div ng-if="!isAdmin">
				<div ng-if="event.participant">
					<a ng-click="leaveEvent(event.pitch.pitchid, event.eventid)">
						<button type="submit" class="btn btn-danger join-button">{{'leave' | translate}}</button>
					</a>
				</div>
				<div ng-if="!event.participant && event.inscriptionCount < event.maxParticipants">
					<a ng-click="joinEvent(event.pitch.pitchid, event.eventid)">
						<button type="submit" class="btn btn-success join-button">{{'join' | translate}}</button>
					</a>
				</div>
				<div class ="cancel-event" ng-if="isOwner">
					<a ng-click="cancelEvent(event.pitch.pitchid, event.eventid)">
						<button type="submit" class="btn btn-danger join-button mb-10">{{'cancel_event' | translate}}</button>
					</a>
				</div>
			</div>
		</div>
		<div ng-if="isAdmin">
			<div class ="cancel-event" ng-if="isAdmin && !eventHasStarted">
				<a ng-click="deleteEvent(event.eventid)">
					<button type="submit" class="btn btn-danger join-button mb-10">{{'delete_event' | translate}}</button>
				</a>
			</div>
		</div>
	</div>
</div>
