<div class="header" id="header">
    <a ng-click="goToHome()"><h1 class="title">SportMatcher</h1></a>
  	<div>
        <div ng-if="isLoggedIn">
            <a ng-click="goToProfile(loggedUser.userid)" class="background-color-transparent">
                <img class="comment-image" src="{{profilePicture}}" onerror="this.src='images/profile_default.png'" width="40" height="40"/>
            </a>
            <span class="color-white username">{{loggedUser.username}}</span>
            <a ng-click="logout()" class="background-color-white">
            	{{'logout' | translate}}
            </a>
        </div>
        <div ng-if="!isLoggedIn">
          	<a ng-click="showLoginModal()" class="mt-30 background-color-white">
            	{{'login' | translate}}
            </a>
            <a ng-click="showRegisterModal()" class="background-color-white">
            	{{'register' | translate}}
            </a>
        </div>
    </div>
</div>
