<div class="content-container">
	<div class="profile-title">
		<h2>{{'myParticipations' | translate }}</h2>
	</div>
	<span class="help-message notice w-70 justify-center">{{'history_help' | translate }}</span>
	<div ng-if="events.length > 0">
		<div class="tbl">
			<div class="table-header background-dodgerblue">
				<div class="flex-grow justify-center my-events-tbl-sub">
					<span class="event-info-label color-white">{{'event_name' | translate }}</span>
				</div>
				<div class="flex-grow justify-center my-events-tbl-sub">
					<span class="event-info-label color-white">{{'event_location' | translate }}</span>
				</div>
				<div class="flex-grow justify-center my-events-tbl-sub">
					<span class="event-info-label color-white">{{'event_startsAt' | translate }}</span>
				</div>
			</div>
			<div class="flex-grow w-100">
				<div class="events-column flex-grow flex-column w-100">
					<div ng-repeat="event in events">
						<a ng-click="goToEvent(event.pitch.pitchid, event.eventid)">
							<div class="my-event-item">
								<span class="flex flex-1 justify-center home-header">{{event.name}}</span>
								<span class="flex flex-1 justify-center home-header">{{event.pitch.club.location}}</span>
								<span class="flex flex-1 justify-center home-header">
									<div>{{event.startsAt | date:'EEEE d, MMM yyyy' : 'UTC'}}</div>
								</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<span class="flex justify-center">{{'showing_items' | translate}} {{initialPageIndex}}-{{initialPageIndex + events.length - 1}} {{'of' | translate}} {{eventCount}}</span>
		<div ng-hide="lastPageNum == 1 || lastPageNum == 0" class="flex-row flex-space-around table-header">
			<div class="w-100">
				<div ng-hide="pageNum == 1"  class="flex-row w-100 flex-space-around">
					<a ng-click="getFirstPage()">
						<button type="button" class="btn btn-secondary">{{'first' | translate}}</button>
					</a>
					<a ng-click="getPrevPage()">
						<button type="button" class="btn btn-secondary">{{'back' | translate}}</button>
					</a>
				</div>
			</div>
			<div class="w-100">
				<div ng-hide="pageNum == lastPageNum"  class="flex-row w-100 flex-space-around">
					<a ng-click="getNextPage()">
						<button type="button" class="btn btn-secondary">{{'next' | translate}}</button>
					</a>
					<a ng-click="getLastPage()">
						<button type="button" class="btn btn-secondary">{{'last' | translate}}</button>
					</a>
				</div>				
			</div>
		</div>
	</div>
		<div ng-if="events.length <= 0">
			<div class="notice">{{'no_results' | translate}}</div>
		</div>
	</div>
</div>


