<div class="main-container">
    <div class="content-container">
        <div class="profile-title">
            <h2>{{pitch.name}}</h2>
        </div>
        <div class="tbl profile-cont minh-150">
            <div class="profile-top">
                <div class="pitch-pic-container">
                    <img class="pitch-pic" src="../images/pitch_default.png"/>
                </div>
                <div class="stats">
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_club' | translate}}
                        <a class="h4 link-text">{{pitch.club.name}}</a>
                    </div>
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_sport' | translate}}
                        <span class="h4"> {{pitch.sport | translate}}</span>
                    </div>
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_location' | translate}}
                        <span class="h4"> {{pitch.club.location}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="isLoggedIn">
            <span class="notice justify-center home-header">{{'event_creation_description' | translate}}</span>
            <div class="tbl-no-flex profile-cont profile-second">
                <!--<c:if test="${event_overlap == true}">
                    <span class="form-error notice">
                        <spring:message code="event_overlap"/>
                    </span>
                </c:if>-->

                <div class="create-event">
                    <table class="schedule-table flex"><thead></thead>
                        <!--<tr>
                            <th class="schedule-table-cell-size schedule-table-hours"></th>
                            <c:forEach var="dayMessage" items="${scheduleHeaders}">
                                <th class="schedule-table-cell-size"><spring:message code="${dayMessage}"/></th>
                            </c:forEach>
                        </tr>-->
                        <!--<c:set var="hours" value="${minHour}"/>-->
                        <tbody >
                            <tr ng-repeat="row in schedule track by $index">

                                <!--<td class="schedule-table-hours"><c:out value="${hours}"/>:00</td>-->
                                
                                    <!--<td ng-if="cell != null" class="schedule-table background-red schedule-table-cell-size"/>
                                    <td ng-if="cell == null" class="schedule-table background-green schedule-table-cell-size"/>-->
                                    <td ng-repeat="cell in row track by $index" ng-class="cell == null ? 'schedule-table background-green schedule-table-cell-size' : (cell.maxParticipants == cell.inscriptionCount? 'schedule-table background-red schedule-table-cell-size' : 'schedule-table background-yellow schedule-table-cell-size')">
                                        
                                    </td>
                                
                            </tr></tbody>
                            <!--<c:set var="hours" value="${hours + 1}"/>-->
                    </table>
                    <div class="flex flex-column create-event-form">
                        <h2 class="create-event-title">{{'create_event' | translate}}</h2>
                        <form ng-submit = createEventSubmit() name="createEventForm" method="post" novalidate>
                            <div class="form-field">
                                <input class="form-control" type="text" placeholder="{{'event_name' | translate}}" ng-maxlength="100" name="name" ng-model="event.name" required/>
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" placeholder="{{'event_description' | translate}}" ng-maxlength="500" name="description" ng-model="event.description" required/>
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="number" placeholder="{{'event_max_participants' | translate}}" ng-min="1" ng-max="99" name="maxParticipants" ng-model="event.maxParticipants" required/>
                            </div>
                            <div class="form-field flex-space-between">
                                <div class="form-field-horizontal">
                                    <span>{{'new_event_date' | translate}}</span>
                                    <input class="form-control date-input p-6" type="date" ng-min="currentDate" name="date" ng-model="event.date" required/>
                                    <!--<c:if test="${invalid_date_format == true}">
                                        <span class="form-error">
                                            <spring:message code="invalid_date_format"/>
                                        </span>
                                    </c:if>
                                    <c:if test="${event_in_past == true}">
                                        <span class="form-error">
                                            <spring:message code="event_in_past"/>
                                        </span>
                                    </c:if>
                                    <c:if test="${date_exceeded == true}">
                                        <span class="form-error">
                                            <spring:message code="date_exceeded"/>
                                        </span>
                                    </c:if>-->
                                </div>
                                <div>
                                    <span>{{'event_startsAt' | translate}}</span>
                                    <select class="form-control" name="startsAtHour" ng-model="event.startsAtHour" required>
                                        <option>Hola</option>
                                    </select>
                                    <!--<c:if test="${ends_before_starts == true}">
                                        <span class="form-error">
                                            <spring:message code="ends_before_starts"/>
                                        </span>
                                    </c:if>-->
                                </div>
                                <div>
                                    <span>{{'event_endsAt' | translate}}</span>
                                    <select class="form-control" name="endsAtHour" ng-model="event.endsAtHour" required>
                                        <option>Hola</option>
                                    </select>
                                </div>
                            </div>
                            <div class="my-events-tbl-sub">
                                <span>{{'end_date' | translate}}</span>
                                <input class="form-control date-input w-100" type="datetime-local" ng-min="currentDate" name="inscriptionEndDate" ng-model="event.inscriptionEndDate" required/>
                                <!--<c:if test="${inscription_date_in_past}">
                                    <span class="form-error">
                                        <spring:message code="inscription_date_in_past"/>
                                    </span>
                                </c:if>
                                <c:if test="${inscription_date_exceeded}">
                                    <span class="form-error">
                                        <spring:message code="inscription_date_exceeded"/>
                                    </span>
                                </c:if>-->
                            </div>
                            <div class="justify-center">
                                <button type="submit" class="btn btn-primary submit-btn">{{'create' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
