<div class="main-container">
    <div class="content-container">
        <div class="profile-title">
            <h2>{{pitch.name}}</h2>
        </div>
        <div class="tbl profile-cont minh-150">
            <div class="profile-top">
                <div class="pitch-pic-container">
                    <img class="pitch-pic" data-ng-src="{{picture}}"/>
                </div>
                <div class="stats">
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_club' | translate}}
                        <a class="h4 link-text" ng-click="goToClub(pitch.club.clubid)">{{pitch.club.name}}</a>
                    </div>
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_sport' | translate}}
                        <span class="h4"> {{pitch.sport | translate}}</span>
                    </div>
                    <div class="h4 pitch-info-label" style="padding: 5px 0">
                        {{'pitch_location' | translate}}
                        <span class="h4">{{pitch.club.location}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="notice justify-center home-header">{{'event_creation_description' | translate}}</span>
            <div class="tbl-no-flex profile-cont profile-second">
                <div ng-if="eventOverlapError">
                    <span class="form-error notice">
                        {{'event_overlap' | translate}}
                    </span>
                </div>

                <div class="create-event">
                    <div class="flex-column">
                        <table class="schedule-table flex">
                            <thead>
                                <tr class="flex-row flex-1 flex-space-around">
                                    <th class="schedule-table-cell-size"></th>
                                    <th class="schedule-table-cell-size text-center" ng-repeat="header in dayHeaders">{{header | translate}}</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="row in schedule track by $index">
                                    <td class="schedule-table-hours">{{tableHours[$index]}}</td>
                                    <td ng-repeat="cell in row track by $index" ng-class="cell == null ? 'schedule-table background-green schedule-table-cell-size' : (cell.maxParticipants == cell.inscriptionCount? 'schedule-table background-red schedule-table-cell-size' : 'schedule-table background-yellow schedule-table-cell-size')" title="{{cell.name}}" data-toggle="tooltip" data-placement="top" tooltip tooltip-append-to-body="true" data-container="body"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex flex-column create-event-form" ng-show="!isAdmin">
                        <h2 class="create-event-title">{{'create_event' | translate}}</h2>
                        <form ng-submit = createEventSubmit() name="createEventForm" method="post" novalidate>
                            <div class="form-field">
                                <input class="form-control" type="text" placeholder="{{'event_name' | translate}}" name="name" ng-model="event.name" required maxlength="100"/>
                                <div ng-show="(createEventForm.name.$touched ||  createEventForm.$submitted)">
                                    <span ng-show="createEventForm.name.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                </div>
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" placeholder="{{'event_description' | translate}}" maxlength="500" name="description" ng-model="event.description"/>
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="number" placeholder="{{'event_max_participants' | translate}}" min="1" max="99" name="maxParticipants" ng-model="event.maxParticipants" required/>
                                <div ng-show="(createEventForm.maxParticipants.$touched ||  createEventForm.$submitted)">
                                    <span ng-show="createEventForm.maxParticipants.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                    <span ng-show="createEventForm.maxParticipants.$error.min" class="form-error" translate="min_error" translate-values='{ min: 1}'></span>
                                    <span ng-show="createEventForm.maxParticipants.$error.max" class="form-error" translate="max_error" translate-values='{ max: 99}'></span>
                                </div>
                            </div>
                            <p style="padding-top: 15px">
                              {{'date_restrictions' | translate}}
                            </p>
                            <div class="form-field flex-space-between">
                                <div class="form-field-horizontal">
                                  <span>{{'new_event_date' | translate}}</span>
                                    <input class="form-control date-input p-6" type="date" min="{{tomorrowDate}}" max="{{sevenDaysFromTomorrow}}" min="{{currentDate}}" name="date" ng-model="event.selectedDate" required/>
                                    <div ng-show="(createEventForm.date.$touched ||  createEventForm.$submitted)">
                                        <span ng-show="createEventForm.date.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                        <span ng-show="createEventForm.date.$error.min" class="form-error">{{'event_in_past' | translate}}</span>
                                        <span ng-show="createEventForm.date.$error.max" class="form-error">{{'date_exceeded' | translate}}</span>
                                    </div>
                                    <div ng-if="dateError">
                                        <span class="form-error">
                                            {{'event_in_past' | translate}}
                                        </span>
                                    </div>
                                    <div ng-if="maximumStartDateExceededError">
                                        <span class="form-error">
                                            {{'date_exceeded' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span>{{'event_startsAt' | translate}}</span>
                                    <select class="form-control" name="startsAtHour" ng-model="event.selectedStartsAtHour" ng-options="hour.id as hour.format for hour in startsAtHours track by hour.id" id="startsAtHour">
                                        <option></option>
                                    </select>
                                    <div ng-show="(createEventForm.startsAtHour.$touched ||  createEventForm.$submitted)">
                                        <span ng-show="!isFinite(event.startsAtHour)" class="form-error">{{'form_required' | translate}}</span>
                                    </div>
                                    <div ng-if="endsBeforeStartsError">
                                        <span class="form-error">
                                            {{'ends_before_starts' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <span>{{'event_endsAt' | translate}}</span>
                                    <select class="form-control" name="endsAtHour" ng-model="event.selectedEndsAtHour" ng-options="hour.id as hour.format for hour in endsAtHours track by hour.id" id="endsAtHour">
                                        <option></option>
                                    </select>
                                    <div ng-show="(createEventForm.endsAtHour.$touched ||  createEventForm.$submitted)">
                                        <span ng-show="!isFinite(event.endsAtHour)" class="form-error">{{'form_required' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my-events-tbl-sub">
                              <span>{{'end_date' | translate}}</span>
                                <input class="form-control date-input w-100" type="datetime-local" min={{todayDate}} max={{maxInscriptionDate}} name="inscriptionEndDate" ng-model="event.selectedInscriptionDate" required/>
                                <div ng-show="(createEventForm.inscriptionEndDate.$touched ||  createEventForm.$submitted)">
                                    <span ng-show="createEventForm.inscriptionEndDate.$error.required" class="form-error">{{'form_required' | translate}}</span>
                                    <span ng-show="createEventForm.inscriptionEndDate.$error.min" class="form-error">{{'inscription_date_in_past' | translate}}</span>
                                    <span ng-show="createEventForm.inscriptionEndDate.$error.max" class="form-error">{{'inscription_date_maximum_exceeded' | translate}}</span>
                                </div>
                                <div ng-if="inscriptionDateError">
                                    <span class="form-error">
                                        {{'inscription_date_in_past' | translate}}
                                    </span>
                                </div>
                                <div ng-if="maximumInscriptionDateExceededError">
                                    <span class="form-error">
                                        {{'inscription_date_exceeded' | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="justify-center">
                                <button ng-disabled="!createEventForm.$valid || !isFinite(event.endsAtHour) || !isFinite(event.startsAtHour)" type="submit" class="btn btn-primary submit-btn">{{'create' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
