<div class="content-container">
  <div class="profile-title">
    <h2>{{'choosePitch' | translate}}</h2>
  </div>
  <span class="help-message notice w-90 justify-center text-center" ng-if="!isAdmin">{{'pitch_list_help' | translate}}</span>
  <div class="tbl">
    <div class="table-header">
      <form id="searchfilters" class="searchfilters">
        <div class="table-titles">
          <div>
            <label>{{'name' | translate}}</label>
            <input class="form-control" type="text" maxlength="100" ng-model="filters.name"/>
          </div>
          <div>
            <label>{{'sport' | translate}}</label>
            <select class="form-control" ng-model="filters.sport" ng-options="sport | translate for sport in sports">
              <option></option>
            </select>
          </div>
          <div>
            <label>{{'location' | translate}}</label>
            <input class="form-control" type="text" maxlength="100" ng-model="filters.location"/>
          </div>
          <div>
            <label>{{'club' | translate}}</label>
            <input class="form-control" type="text" maxlength="100" ng-model="filters.club"/>
          </div>
          <div>
            <a ng-click="filterPitches()">
              <button class="btn btn-primary" type="submit">{{'filter' | translate}}</button>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div ng-repeat="pitch in pitches" class="custom-row">
      <div class="home-header">{{pitch.name}}</div>
      <div>{{pitch.sport | translate}}</div>
      <div class="home-header">{{pitch.club.location}}</div>
      <div class="home-header">{{pitch.club.name}}</div>
      <div>
        <a ng-click="goToPitch(pitch.pitchid)"> <button type="button" class="btn btn-primary view-event">{{'view_pitch' | translate }}</button></a>
      </div>
    </div>
  </div>
  <div class="table-navigator w-90 justify-center">
    <div ng-if="pitches.length > 0" class="w-100 flex-row justify-center">
      <div class="flex-1">
          <div ng-hide="pageNum == 1" class="flex-row flex-space-between">
            <a ng-click="getFirstPage()"><button type="button" class="btn btn-secondary">{{'first' | translate}}</button></a>
            <a ng-click="getPrevPage()"><button type="button" class="btn btn-secondary">{{'back' | translate}}</button></a>
          </div>
      </div>
      <span class="flex flex-1 create-event">{{'showing_items' | translate}} {{initialPageIndex}}-{{initialPageIndex + pitches.length - 1}} {{'of' | translate}} {{pitchCount}}</span>
      <div class="flex-1">
        <div ng-hide="pageNum == lastPageNum" class="flex-row flex-space-between">
          <a ng-click="getNextPage()">
            <button type="button" class="btn btn-secondary">
              {{'next' | translate}}
            </button>
          </a>
          <a ng-click="getLastPage()">
            <button type="button" class="btn btn-secondary">
              {{'last' | translate}}
            </button>
          </a>
        </div>
      </div>    
    </div>
    <div ng-if="pitches.length == 0" class="notice">
      {{'no_results' | translate}}
    </div>
  </div>
</div>
