<div class="content-container">
  <div class="profile-title">
    <h2>{{"choose_tournament" | translate}}</h2>
  </div>
  <span class="help-message notice w-70 justify-center">{{"tournament_list_help" | translate}}</span>
  <div class="tbl">
    <div class="background-dodgerblue table-header">
      <span class="justify-center flex-1 color-white mt-10">{{"event_name" | translate}}</span>
      <span class="justify-center flex-1 color-white mt-10">{{"state" | translate}}</span>
      <span class="justify-center flex-1 color-white mt-10">{{"club" | translate}}</span>
      <span class="justify-center flex-1 color-white mt-10">{{"sport" | translate}}</span>
      <span class="justify-center flex-1" />
    </div>
    <div ng-repeat="tournament in tournaments" class="custom-row">
      <div class="custom-row">
        <div>{{tournament.name}}</div>
        <div>
          <div ng-if="tournament.endsInscriptionAt > now" class="notice">
              {{'inscription' | translate}}
          </div>
          <div ng-if="tournament.endsInscriptionAt <= now && !tournament.inscriptionSuccess" class="notice">
            {{'pending_approval' | translate}}
          </div>
          <div ng-if="tournament.endsInscriptionAt < now">
            {{'started' | translate}}
          </div>
        </div>
        <div>{{tournament.tournamentClub.name}}</div>
        <div>{{'tournament.sport' | translate}}</div>
        <div>
          <a ng-click="goToTournament(tournament.tournamentid)">
            <button type="button" class="btn btn-primary view-event">{{'view_tournament' | translate}}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="table-navigator w-100 justify-center">
    <c:choose>
      <c:when test="${tournamentQty > 0}">
        <div class="${page != 1 ? "" : "hidden"}">
        <a href="<c:url value='/tournaments/1' />">
          <button type="button" class="btn btn-secondary">
            <spring:message code="first"/>
          </button>
        </a>
        <a href="<c:url value='/tournaments/${page-1}' />">
          <button type="button" class="btn btn-secondary">
            <spring:message code="back"/>
          </button>
        </a>
  </div>
  <span class="flex"><spring:message code="showing_items"/> <c:out value="${pageInitialIndex}"/>-<c:out value="${pageInitialIndex + tournamentQty - 1}"/> <spring:message code="of"/> <c:out value="${totalTournamentQty}"/></span>
  <div class="${page != lastPageNum ? "" : "hidden"}">
  <a href="<c:url value='/tournaments/${page+1}' />">
    <button type="button" class="btn btn-secondary"><spring:message code="next"/></button>
  </a>
  <a href="<c:url value='/tournaments/${lastPageNum}' />">
    <button type="button" class="btn btn-secondary"><spring:message code="last"/></button>
  </a>
</div>
</c:when>
<c:otherwise>
  <div class="notice">
    <spring:message code="no_results"/>
  </div>
</c:otherwise>
</c:choose>
</div>
</div></html>
