<div class="main-container">
	<div class="content-container">
		<div class="profile-title">
			<h2>{{tournament.name}}</h2>
		</div>
		<span class="help-message notice w-70 justify-center">{{'tournament_description' | translate}}</span>
		<div ng-if="currentRound != null">
			<div style="width: 60%;margin: 20px 0">
				<div class="progress">
					<!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:${hasFinished ?100 : ((currentRound-1) * 100 / maxRoundPage)}%; background-color: ${hasFinished ? "green" : "dodgerblue"};"></div>-->
				</div>
			</div>
		</div>
		<div class="tbl">
			<div class="background-dodgerblue table-header">
				<span class="justify-center flex-1 color-white mt-10 event-info-label">{{'teams' | translate}}</span>
				<span class="justify-center flex-1 color-white mt-10 event-info-label">{{'score' | translate}}</span>
			</div>
			<div ng-repeat="team in teams | orderBy: '-teamScore' " class="custom-row">
				<div class="justify-center flex-1">{{team.teamName | translate}}</div>
				<div class="justify-center flex-1">{{team.teamScore}}</div>
			</div>
		</div>
		<div class="tbl profile-cont">
			<span ng-if="roundPageNum == currentRound" class="event-info-label notice">{{'round' | translate}} {{roundPageNum}} - {{'current' | translate}}</span>
			<span ng-if="roundPageNum != currentRound" class="event-info-label notice">{{'round' | translate}} {{roundPageNum}}</span>
			<span>
				{{'date' | translate}}:
				{{roundEvents[0].startsAt | date:'EEEE d, MMM yyyy H:mm' : 'GMT-3'}} -
				{{roundEvents[0].endsAt | date:'H:mm' : 'GMT-3'}}
			</span>
			<div ng-repeat="event in roundEvents">
				<div class="flex pitch-item w-100 justify-center">
					<span class="event-info-label">{{event.pitch.name | translate}}</span>
					<span class="event-info-label">{{event.firstTeam.teamName | translate}}</span>
					<div ng-if="!isAdmin">
						<div ng-if="event.firstTeamScore != null">
							<div class="score score-tournament">
								<span>{{event.firstTeamScore}}</span>
								<span>{{event.secondTeamScore}}</span>
							</div>
						</div>
						<div ng-if="event.firstTeamScore == null">
							<div class="score score-tournament">
								<span>-</span>
								<span>-</span>
							</div>
						</div>
					</div>
					<div ng-if="isAdmin">
						<form ng-submit = setTournamentResultSubmit(event) name="tournamentResultForm" method="post" novalidate>
                            <div class="score score-tournament" ng-if="parseDate(event.endsAt) <= now">
                            	<input class="form-control" type="number" ng-min="0" name="firstResult" ng-model="event.firstTeamScore" required/>
                            	<input class="form-control" type="number" ng-min="0" name="secondResult" ng-model="event.secondTeamScore" required/>
                            	<div class="justify-center">
									<button type="submit" class="btn btn-primary minw-150 btn-primary">{{'upload_score' | translate}}</button>
								</div>
                            </div>
                            <div class="score score-tournament" ng-if="parseDate(event.endsAt) > now">
                            	<span>-</span>
								<span>-</span>
                            </div>
                        </form>
					</div>
					<span class="event-info-label">{{event.secondTeam.teamName | translate}}</span>
					<a class="ml-30" ng-click="goToTournamentEvent(tournament.tournamentid, event.eventid)">
						<button type="button" class="btn btn-primary view-event">
							{{'view_event' | translate}}
						</button>
					</a>
				</div>
			</div>
			<div class="table-navigator w-100 justify-center">
				<div ng-hide="roundPageNum == 1">
					<a ng-click="getFirstPage()">
						<button type="button" class="btn btn-secondary">
							{{'first' | translate}}
						</button>
					</a>
					<a ng-click="getPrevPage()">
						<button type="button" class="btn btn-secondary">
							{{'back' | translate}}
						</button>
					</a>
				</div>
				<span class="flex create-event">{{'showing_pages' | translate}} {{roundPageNum}} {{'of' | translate}} {{tournament.rounds}}</span>
				<div ng-hide="roundPageNum == tournament.rounds">
					<a ng-click="getNextPage()">
						<button type="button" class="btn btn-secondary">{{'next' | translate}}</button>
					</a>
					<a ng-click="getLastPage()">
						<button type="button" class="btn btn-secondary">{{'last' | translate}}</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>