<div class="main-container">
	<div class="content-container">
		<h2>{{'create_tournament' | translate}}</h2>
		<span class="help-message notice w-70 justify-center home-header">{{'new_tournament_description' | translate}}</span>
		<div class="form-container-tournament w-70">
            <table class="schedule-table flex">
                <thead>
                    <tr class="flex-row flex-1 flex-space-around">
                        <th class="schedule-table-cell-size"></th>
                        <th class="schedule-table-cell-size text-center" ng-repeat="header in dayHeaders">{{header | translate}}</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="row in schedule track by $index">
                        <td class="schedule-table-hours">{{tableHours[$index]}}</td>
                        <td ng-repeat="cell in row track by $index" ng-class="cell == pitchCount ? 'schedule-table background-red schedule-table-cell-size' : (cell != 0 ? 'schedule-table background-yellow schedule-table-cell-size' : 'schedule-table background-green schedule-table-cell-size')">{{pitchCount - cell}}</td>
                    </tr>
                </tbody>
            </table>			
			<div class="left-space w-90">
                <form ng-submit = createTournamentSubmit() name="createTournamentForm" method="post" novalidate class="w-100">
                    <div class="form-field">
                        <input class="form-control" type="text" placeholder="{{'name' | translate}}" ng-maxlength="100" name="name" ng-model="tournament.name" ng-pattern="namePattern" required/>
                        <div ng-show="(createTournamentForm.name.$touched ||  createTournamentForm.$submitted)">
                            <span ng-show="createTournamentForm.name.$error.required" class="form-error">{{'form_required' | translate}}</span>
                            <span ng-show="createTournamentForm.name.$error.pattern" class="form-error">{{'name_pattern_error' | translate}}</span>
                        </div>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="number" placeholder="{{'team_number' | translate}}" min="4" max="10" name="maxTeams" ng-model="tournament.maxTeams" required/>
                        <div ng-show="(createTournamentForm.maxTeams.$touched ||  createTournamentForm.$submitted)">
                            <span ng-show="createTournamentForm.maxTeams.$error.required" class="form-error">{{'form_required' | translate}}</span>
                            <span ng-show="createTournamentForm.maxTeams.$error.min" class="form-error" translate="min_error" translate-values='{ min: 4}'></span>
                            <span ng-show="createTournamentForm.maxTeams.$error.max" class="form-error" translate="max_error" translate-values='{ max: 10}'></span>
                            <span ng-show="!evenInputTeams()" class="form-error">{{'uneven_team_amount' | translate}}</span>
                        </div>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="number" placeholder="{{'team_size' | translate}}" min="3" max="11" name="teamSize" ng-model="tournament.teamSize" required/>
                        <div ng-show="(createTournamentForm.teamSize.$touched ||  createTournamentForm.$submitted)">
                            <span ng-show="createTournamentForm.teamSize.$error.required" class="form-error">{{'form_required' | translate}}</span>
                            <span ng-show="createTournamentForm.teamSize.$error.min" class="form-error" translate="min_error" translate-values='{ min: 3}'></span>
                            <span ng-show="createTournamentForm.teamSize.$error.max" class="form-error" translate="max_error" translate-values='{ max: 11}'></span>
                        </div>
                    </div>
                    <div class="form-field flex-space-between">
                        <div class="form-field-horizontal flex-1">
                            <span>{{'start_date' | translate}}</span>
                            <input class="form-control date-input p-6 w-90" type="date" min="{{tomorrowDate}}" max="{{sevenDaysFromTomorrow}}" ng-min="currentDate" name="date" ng-model="tournament.selectedDate" required/>
                            <div ng-show="(createTournamentForm.date.$touched ||  createTournamentForm.$submitted)">
                                <span ng-show="createTournamentForm.date.$error.required" class="form-error">{{'form_required' | translate}}</span>
                            </div>
                            <div ng-if="dateError">
                                <span class="form-error">
                                    {{'event_in_past' | translate}}
                                </span>
                            </div>
                            <div ng-if="maximumStartDateExceededError">
                                <span class="form-error">
                                    {{'date_exceeded' | translate}}
                                </span>
                            </div>
                            <div ng-if="insufficientPitchesError">
                                <span class="form-error">
                                    {{'insufficient_pitches' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="flex-05">
                            <span>{{'event_startsAt' | translate}}</span>
                            <select class="form-control w-90" name="startsAtHour" ng-model="tournament.selectedStartsAtHour" ng-options="hour.id as hour.format for hour in startsAtHours track by hour.id" id="startsAtHour">
                                <option></option>
                            </select>
                            <div ng-show="(createTournamentForm.startsAtHour.$touched ||  createTournamentForm.$submitted)">
                                <span ng-show="!isFinite(tournament.startsAtHour)" class="form-error">{{'form_required' | translate}}</span>
                            </div>
                            <div ng-if="endsBeforeStartsError">
                                <span class="form-error">
                                    {{'ends_before_starts' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="flex-05">
                            <span>{{'event_endsAt' | translate}}</span>
                            <select class="form-control w-90" name="endsAtHour" ng-model="tournament.selectedEndsAtHour" ng-options="hour.id as hour.format for hour in endsAtHours track by hour.id" id="endsAtHour">
                                <option></option>
                            </select>
                            <div ng-show="(createTournamentForm.endsAtHour.$touched ||  createTournamentForm.$submitted)">
                                <span ng-show="!isFinite(tournament.endsAtHour)" class="form-error">{{'form_required' | translate}}</span>
                            </div>
                        </div>
    				</div>
                    <div class="my-events-tbl-sub">
                        <span>{{'end_date' | translate}}</span>
                      <input class="form-control date-input w-100" type="datetime-local" min={{todayDate}}} max={{maxInscriptionDate}}  ng-min="currentDate" name="inscriptionEndDate" ng-model="tournament.selectedInscriptionDate" required/>
                        <div ng-show="(createTournamentForm.inscriptionEndDate.$touched ||  createTournamentForm.$submitted)">
                            <span ng-show="createTournamentForm.inscriptionEndDate.$error.required" class="form-error">{{'form_required' | translate}}</span>
                        </div>
                        <div ng-if="inscriptionDateError">
                            <span class="form-error">
                                {{'inscription_date_in_past' | translate}}
                            </span>
                        </div>
                        <div ng-if="maximumInscriptionDateExceededError">
                            <span class="form-error">
                                {{'inscription_date_exceeded' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="justify-center">
                        <button type="submit" ng-disabled="!createTournamentForm.$valid || !isFinite(tournament.endsAtHour) || !isFinite(tournament.startsAtHour)" class="btn btn-primary submit-btn btn-success">{{'create' | translate}}</button>
                    </div>
    			</form>
			</div>
		</div>
	</div>
</div>
