<div class="main-container">
	<div class="content-container">
		<div class="tournament-title">
			<h2>{{tournament.name}}</h2>
			<h4>{{'club' | translate}}: <a class="club-link" ng-click="goToClub(tournament.tournamentClub.clubid)">{{tournament.tournamentClub.name}}</a></h3>
		</div>
		<span class="help-message notice w-70 justify-center">{{'tournament_description' | translate}}</span>
		<div ng-if="currentRound != null" class="w-80 mv-10">
			<div class="progress">
				<div
					class="progress-bar progress-bar-striped progress-bar-animated"
					role="progressbar"
					ng-style="currentRound == tournament.rounds ? {'background-color': 'green', 'width': (currentRound * 100 / tournament.rounds) + '%'} : {'background-color': 'dodgerblue', 'width': (currentRound * 100 / tournament.rounds) + '%'}"
					aria-valuenow="currentRound"
					aria-valuemin="0"
					aria-valuemax="tournament.rounds"
				></div>
			</div>
		</div>
		<div class="tbl w-80">
			<div class="background-dodgerblue table-header">
				<span class="justify-center flex-1 color-white mt-10 event-info-label">{{'teams' | translate}}</span>
				<span class="justify-center flex-1 color-white mt-10 event-info-label">{{'score' | translate}}</span>
			</div>
			<div ng-repeat="team in teams | orderBy: '-teamScore' " class="custom-row">
				<div class="justify-center flex-1">{{team.teamName | translate}}</div>
				<div class="justify-center flex-1">{{team.teamScore}}</div>
			</div>
		</div>
		<div class="tbl profile-cont w-90">
			<span ng-if="roundPageNum == currentRound" class="event-info-label notice">{{'round' | translate}} {{roundPageNum}} - {{'current' | translate}}</span>
			<span ng-if="roundPageNum != currentRound" class="event-info-label notice">{{'round' | translate}} {{roundPageNum}}</span>
			<span>
				{{'date' | translate}}:
				{{roundEvents[0].startsAt | date: 'EEEE ' | translate}}
				{{roundEvents[0].startsAt | date: 'd, ' | translate}}
				{{roundEvents[0].startsAt | date: 'MMM ' | translate}}
				{{roundEvents[0].startsAt | date:'yyyy HH:mm' | translate}} -
				{{roundEvents[0].endsAt | date:'H:mm'}}
			</span>
			<div ng-repeat="event in roundEvents" class="flex pitch-item w-100 justify-center flex-column">
				<span class="event-info-label align-self-start">{{event.pitch.name | translate}}</span>
				<div class="flex-row align-center">
					<span class="event-info-label">{{event.firstTeam.teamName | translate}}</span>
					<div ng-if="!isAdmin">
						<div ng-if="event.firstTeamScore != null">
							<div class="score score-tournament">
								<span>{{event.firstTeamScore}}</span>
								<span>{{event.secondTeamScore}}</span>
							</div>
						</div>
						<div ng-if="event.firstTeamScore == null">
							<div class="score score-tournament">
								<span>-</span>
								<span>-</span>
							</div>
						</div>
					</div>
					<div ng-show="isAdmin">
						<form ng-submit = setTournamentResultSubmit(event) name="tournamentResultForm{{index}}" method="post" novalidate>
							<div class="score score-tournament" ng-show="parseDate(event.endsAt) <= now">
								<input class="form-control flex-05" type="number" min="0" name="firstResult" ng-model="event.firstTeamScore" required/>
								<input class="form-control flex-05" type="number" min="0" name="secondResult" ng-model="event.secondTeamScore" required/>
								<div class="justify-center flex-1">
									<button type="submit" ng-disabled="!tournamentResultForm{{index}}.$valid" class="btn btn-primary minw-150 btn-primary">{{'upload_score' | translate}}</button>
								</div>
							</div>
							<div ng-show="(tournamentResultForm.firstResult.$touched ||  tournamentResultForm.$submitted)">
	                    		<span ng-show="tournamentResultForm.firstResult.$error.required" class="form-error">{{'form_required' | translate}}</span>
	                    		<span ng-show="tournamentResultForm.firstResult.$error.min" class="form-error" translate="min_error" translate-values='{ min: 0}'></span>
	                		</div>
	                		<div ng-show="(tournamentResultForm.secondResult.$touched ||  tournamentResultForm.$submitted)">
	                    		<span ng-show="tournamentResultForm.secondResult.$error.required" class="form-error">{{'form_required' | translate}}</span>
	                    		<span ng-show="tournamentResultForm.secondResult.$error.min" class="form-error" translate="min_error" translate-values='{ min: 0}'></span>
	                		</div>
							<div class="score score-tournament" ng-if="parseDate(event.endsAt) > now">
								<span>-</span>
								<span>-</span>
							</div>
						</form>
					</div>
					<span class="event-info-label">{{event.secondTeam.teamName | translate}}</span>
					<a class="ml-30" ng-click="goToTournamentEvent(tournament.tournamentid, event.eventid)">
						<button type="button" class="btn btn-primary view-event">
							{{'view_event' | translate}}
						</button>
					</a>
				</div>
			</div>
			<div class="table-navigator w-100 justify-around flex-row">
				<div class="flex-1">
					<div ng-hide="roundPageNum == 1" class="flex-row flex-space-between">
						<a ng-click="getFirstPage()">
							<button type="button" class="btn btn-secondary">
								{{'first' | translate}}
							</button>
						</a>
						<a ng-click="getPrevPage()">
							<button type="button" class="btn btn-secondary">
								{{'back' | translate}}
							</button>
						</a>
					</div>
				</div>
				<span class="flex flex-1 create-event">{{'showing_pages' | translate}} {{roundPageNum}} {{'of' | translate}} {{tournament.rounds}}</span>
				<div class="flex-1">
					<div ng-hide="roundPageNum == tournament.rounds" class="flex-row flex-space-between">
						<a ng-click="getNextPage()">
							<button type="button" class="btn btn-secondary">{{'next' | translate}}</button>
						</a>
						<a ng-click="getLastPage()">
							<button type="button" class="btn btn-secondary">{{'last' | translate}}</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>