<div class="content-container">
	<div class="profile-title">
		<h2>{{"choose_tournament" | translate}}</h2>
	</div>
	<span ng-if="!isAdmin" class="help-message notice w-80 justify-center text-center">{{"tournament_list_help" | translate}}</span>
	<div ng-if="tournamentCount > 0" class="w-90">
		<div class="tbl w-100">
			<div class="background-dodgerblue table-header">
				<span class="justify-center flex-1 color-white mt-10">{{"event_name" | translate}}</span>
				<span class="justify-center flex-1 color-white mt-10">{{"state" | translate}}</span>
				<span class="justify-center flex-1 color-white mt-10">{{"club" | translate}}</span>
				<span class="justify-center flex-1 color-white mt-10">{{"sport" | translate}}</span>
				<span class="justify-center flex-1" > </span>
			</div>
			
			<div ng-repeat="tournament in tournaments" class="tournament-row">
				<div class="w-30 text-center">{{tournament.name}}</div>
				<div class="flex-column w-30">
					<div ng-if="(tournament.inscriptionEnd | date: 'dd/MM/yyyy HH:mm:ss') > (now | date: 'dd/MM/yyyy HH:mm:ss')" class="w-100">
						{{'inscription' | translate}}
					</div>
					<div ng-if="(tournament.inscriptionEnd | date: 'dd/MM/yyyy HH:mm:ss') <= (now | date: 'dd/MM/yyyy HH:mm:ss') && !tournament.inscriptionSuccess" class="w-100">
						{{'pending_approval' | translate}}
					</div>
					<div ng-if="tournament.inscriptionSuccess" class="w-100">
						{{'started' | translate}}
					</div>
				</div>
				<div class="w-30">{{tournament.tournamentClub.name}}</div>
				<div class="w-30">{{tournament.sport | translate}}</div>
				<div class="w-30">
					<a ng-click="goToTournament(tournament)">
						<button type="button" class="btn btn-primary view-event">{{'view_tournament' | translate}}</button>
					</a>
				</div>
			</div>
			<div class="table-navigator w-100 justify-center align-center flex-row">
				<div class="flex-1">
					<div ng-hide="pageNum == 1" class="flex-space-around flex-row">
						<a ng-click="getFirstPage()">
							<button type="button" class="btn btn-secondary">
								{{'first' | translate}}
							</button>
						</a>
						<a ng-click="getPrevPage()">
							<button type="button" class="btn btn-secondary">
								{{'back' | translate}}
							</button>
						</a>
					</div>
				</div>
				<span class="flex flex-1 justify-center">{{'showing_items' | translate}} {{initialPageIndex}}-{{initialPageIndex + tournaments.length - 1}} {{'of' | translate}} {{tournamentCount}}</span>
				<div class="flex-1">
					<div ng-hide="pageNum == lastPageNum" class="flex-space-around flex-row">
						<a ng-click="getNextPage()">
							<button type="button" class="btn btn-secondary">{{'next' | translate}}</button>
						</a>
						<a ng-click="getLastPage()">
							<button type="button" class="btn btn-secondary">{{'last' | translate}}</button>
						</a>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<div ng-if="tournamentCount < 0">
		<div class="notice">
			{{'no_results' | translate}}
		</div>
	</div>
</div>
