<div class="main-container">
	<div class="content-container">
		<div class="profile-title">
			<h2>{{tournament.name}}</h2>
		</div>
		<span class="help-message notice w-70 justify-center">{{'tournament_inscription' | translate}}</span>
		<span class="help-message notice w-70 justify-center">
			{{'tournament_description_one' | translate}}
			{{tournament.rounds}}
			{{'tournament_description_two' | translate}}
			{{tournament.startsAt | date: 'EEEE ' | translate}}
			{{tournament.startsAt | date: 'd, ' | translate}}
			{{tournament.startsAt | date: 'MMM ' | translate}}
			{{tournament.startsAt | date:'yyyy HH:mm' | translate}}
		</span>
		<div class="w-50 mv-10">
			<div class="comment-profile-row">
				<span class="event-info-label">{{'club' | translate}}</span>
				<a class="link-text" ng-click="goToClub(tournament.tournamentClub.clubid)">
					<span>{{tournament.tournamentClub.name}}</span>
				</a>
			</div>
			<div>
				<span class="event-info-label">{{'end_date' | translate}}<span>
				<span>
					{{tournament.inscriptionEnd | date: 'EEEE ' | translate}}
					{{tournament.inscriptionEnd | date: 'd, ' | translate}}
					{{tournament.inscriptionEnd | date: 'MMM ' | translate}}
					{{tournament.inscriptionEnd | date:'yyyy HH:mm' | translate}}
				</span>
			</div>
		</div>
		<div class="detail-container minw-300">
			<div class="w-100 flex flex-grow justify-center">
				<h3>{{'teams' | translate}}</h3>
			</div>
			<div class="flex-column w-100">
				<div ng-repeat="teamPair in tournamentTeams">
					<div class="flex">
						<div class="team-description minw-100 w-100">
							<span class="event-info-label">{{teamPair[0].teamName | translate}}</span>
							<div class="flex w-100">
								<div class="flex flex-column align-center w-100">
									<div ng-repeat="inscription in teamPair[0].inscriptions">
										<a class="link-text" ng-click="goToProfile(inscription.userid)">
											{{inscription.firstname}} {{inscription.lastname}}
										</a>
										<a type="submit" class="kick-user-btn" ng-if="isAdmin && !inscriptionHasEnded" ng-click="kickUser(tournament.tournamentClub.clubid, tournament.tournamentid, inscription.userid)">{{'kick' | translate}}</a>
									</div>
									<div ng-repeat="n in [].constructor(tournament.teamSize - teamPair[0].inscriptions.length) track by $index">
										<span>-</span>
									</div>
								</div>
							</div>
							<div class="flex flex-grow justify-center">
								<div ng-if="!hasJoined && (tournament.teamSize > teamPair[0].inscriptions.length) && !isAdmin && !inscriptionHasEnded">
									<a ng-click="joinTeam(tournament.tournamentid, teamPair[0].teamid)">
										<button type="submit" class="btn btn-primary view-event">{{'join_team' | translate}}</button>
									</a>
								</div>
							</div>
						</div>
						<div class="team-description minw-100 w-100">
							<span class="event-info-label">{{teamPair[1].teamName | translate}}</span>
							<div class="flex w-100">
								<div class="flex flex-column align-center w-100">
									<div ng-repeat="inscription in teamPair[1].inscriptions">
										<a class="link-text" ng-click="goToProfile(inscription.userid)">
											{{inscription.firstname}} {{inscription.lastname}}
										</a>
									</div>
									<div ng-repeat="n in [].constructor(tournament.teamSize - teamPair[1].inscriptions.length) track by $index">
										<span>-</span>
									</div>
								</div>
							</div>
							<div class="flex flex-grow justify-center">
								<div ng-if="!hasJoined && (tournament.teamSize > teamPair[1].inscriptions.length) && !isAdmin && !inscriptionHasEnded"">
									<a ng-click="joinTeam(tournament.tournamentid, teamPair[1].teamid)">
										<button type="submit" class="btn btn-primary view-event">{{'join_team' | translate}}</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="userBusyError">
			<span class="form-error notice">
				{{'user_busy_error' | translate}}
			</span>
		</div>
		<div ng-if="alreadyJoinedError">
			<span class="form-error notice">
				{{'already_joined_error' | translate}}
			</span>
		</div>
		<div ng-if="teamFullError">
			<span class="form-error notice">
				{{'team_full_error' | translate}}
			</span>
		</div>
		<div ng-if="inscriptionClosedError">
			<span class="form-error notice">
				{{'inscription_closed_error' | translate}}
			</span>
		</div>
		<div ng-if="hasJoined && !inscriptionHasEnded">
			<a ng-click="leaveTournament(tournament.tournamentid)">
				<button type="submit" class="btn btn-danger join-button">{{'leave' | translate}}</button>
			</a>
		</div>
		<div ng-if="isAdmin">
			<div class ="cancel-event" ng-if="!inscriptionHasEnded">
				<a ng-click="deleteTournament(tournament.tournamentClub.clubid, tournament.tournamentid)">
					<button type="submit" class="btn btn-danger join-button mb-10">{{'delete_tournament' | translate}}</button>
				</a>
			</div>
		</div>
	</div>
</div>