.club-address {
    width: 60%;
    background-color: #fff2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    word-break: break-word;
}
  
.club-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.club-comments {
    margin: 0px 20px;
    align-items: center;
    align-self: flex-start;
}
  
.club-detail-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: flex-start;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    justify-content: center;
    width: 150%;
}

.club-item {
    background-color: #fff2e6;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px 0px;
    padding: 10px;
}
  
.club-pitches-list {
    width: 100%;
}
  
.club-table-size {
    min-width: 75%;
}

.view-club {
    height: 30px;
    font-size: 13px;
    text-align: center;
    margin: 5px 0;
}
  