a.event-link {
    margin: 10px 5px;
}

.cancel-event {
    align-self: center;
}

.create-event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-self: center;
}
  
.create-event-form {
    width: 350px;
    height: 400px;
}
  
.create-event-title {
    padding: 0px;
    font-size: 27px;
}

.event-container {
    align-items: flex-start;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.event-detail {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
}
  
.event-info-label {
    display: flex;
    font-weight: bold;
}

.event-item-box {
    background-color: #fff2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.event-item-box ul {
  list-style: none;
  padding: 0;
}

.event-participants {
    margin-bottom: 0;
}
  
.event-points {
    margin-top: 20px;
    margin-left: 100px;
}
  
.events-column div {
    padding: 5px 10px;
}
  
.events-column div:hover{
    background-color: grey;
    color: white;
}  
  
.event-link {
    text-align: center;
    color: #123456;
    text-decoration: underline;
}

.my-events-tbl-sub {
    padding-top: 10px;
}
  
.my-event-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-break: break-word;
}

.view-event {
    height: 30px;
    font-size: 13px;
    text-align: center;
    margin: 5px 0;
}

.hlp-msg {
    flex: 0 0 100%;
}

.no-res-my-ev {
    align-self: center;
}
