.background-home-image {
    background-image: url("../images/home-image.jpg");
    display: flex;
    flex: 1;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin-top: 40px;
    border-radius: 20px;
    align-items: center;
    padding: 40px 0;
}

.bottom-home-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
  
.bottom-home-item {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-home-item button {
    align-self: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 0;
    background-color: #123456;
    color: white;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
  
.bottom-home-item button:hover {
    background-color: white;
    color: #123456;
    border-color: #123456;
    border-width: 1px;
}

.bottom-home-item h3 {
    width: 80%;
    text-align: center;
}

.home-event {
    background-color: #123456;
    width: 80%;
    height: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
}
  
.home-all-events {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}
  
  .home-ev-column {
    display: flex;
    flex: 1;
    min-height: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    margin: 0 5px 5px;
    background-color: white;
    border: 1px solid black;
}
  
.home-ev-title {
    justify-content: center;
    background-color: #123456;
    color: white;
    margin: 4px;
}
  
.home-evs-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}
  
.home-evs-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-image-title {
    text-align: center;
    font-size: 70px;
    color: antiquewhite;
    text-shadow: 0 0 10px black;
}
  
.home-header {
    text-align: center;
}
  
.home-title {
    margin: 20px 0 10px;
}

.home-title-bgd-container {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    width: 90%;
    align-items: center;
}

.upcoming-participation-container {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    width: 90%;
    padding-bottom: 20px;
    margin-top: 40px;
}

.white {
    color: white;
    text-shadow: 0 0 10px black;
}