.loginModal .modal-dialog {
    display: flex;
    justify-content: center;
    width: 60%;
}

.loginModal .modal-content {
    width: 60%;
    background-color: transparent;
}

//.loginModal .modal-footer {}

.registerModal .modal-dialog {
    width: 70%;
    display: flex;
    justify-content: center;
}

.registerModal .modal-content {
    width: 100%;
    background-color: transparent;
}

//.registerModal .modal-footer {}

.deleteConfirmModal .modal-dialog {
    width: 40%;
    display: flex;
    justify-content: center;
}

.deleteConfirmModal .modal-content {
    width: 100%;
    background-color: transparent;
}

//.deleteConfirmModal .modal-footer {}