<div class="header" id="header">
  	<h1 class="title">SportMatcher</h1>
  	<div>
        <div ng-if="isLoggedIn">
            <span class="color-white username">{{loggedUser.username}}</span>
            <a ng-click="logout()">
            	{{'logout' | translate}}
            </a>
        </div>
        <div ng-if="!isLoggedIn">
          	<a ng-click="showLoginModal()" class="mt-30">
            	{{'login' | translate}}
            </a>
            {{'or' | translate}}
            <a ng-click="showRegisterModal()">
            	{{'register' | translate}}
            </a>
        </div>
    </div>
</div>
